name: Terraform CI/CD

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - master

jobs:
  terraform:
    name: Terraform Workflow
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

      - name: Terraform Init
        working-directory: ./infra-s3
        run: terraform init

      - name: Terraform Format Check
        if: github.event_name == 'pull_request'
        working-directory: ./infra-s3
        run: terraform fmt -check

      - name: Terraform Validate
        if: github.event_name == 'pull_request'
        working-directory: ./infra-s3
        run: terraform validate

      - name: Terraform Plan
        if: github.event_name == 'pull_request'
        working-directory: ./infra-s3
        run: terraform plan -no-color

      - name: Terraform Apply
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        working-directory: ./infra-s3
        run: terraform apply -auto-approve -no-color